@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .myCrool::-webkit-scrollbar {
    width: 10px;
    height: 2px;
  }

  .myCrool::-webkit-scrollbar-track {
    background: #252525;
  }

  .myCrool::-webkit-scrollbar-thumb {
    background: #a5a5a5;
  }

  .myCrool::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .myCrool1::-webkit-scrollbar {
    width: 10px;
    height: 2px;
  }

  .myCrool1::-webkit-scrollbar-track {
    background: #f8f8f8;
  }

  .myCrool1::-webkit-scrollbar-thumb {
    background: #969696;
  }

  .myCrool1::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  html {
    scroll-behavior: smooth;
  }
}
